# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
devel/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Environment variables & secrets
.env
.env.*

# PyTest / Coverage
.pytest_cache/
.coverage
htmlcov/

# Jupyter
.ipynb_checkpoints

# IDEs & Editors
.vscode/
.idea/
*.swp
*.swo

# MacOS
.DS_Store
*.ipynb
